{% include 'index.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>
  </div>
  <h1> Contact Us </h1>
</div>
{% endblock %}


