<!DOCTYPE html>
  <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <title> To Do App page</title>

  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
         <a class="navbar-brand" href="{%url 'index'%}">TODO App</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item">
		     <a class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
             </li>
            <li class="nav-item">
		    <a class="nav-link" href="{%url 'about'%}">About Us</a>
            </li>
            <li class="nav-item">
		    <a class="nav-link disabled" href="{%url 'contact'%}">Contact Us</a>
            </li>
           </ul>
          </div>
         </div>
       </nav>
          {% block content %}
          {% endblock%}

  </body>
</html>

