{% include 'index.html'%}

{% block content %}
<div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    </div>
    <div class="row">
      <div class="col">
        <form method="post" action="{%url 'index'%}">
          {%csrf_token%}
          <div class="form-group">
            <input placeholder="Enter the task" name="task" id="task" class="form-control" required>
          </div>
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
      </div>
      <div class="col">
        <ul>
          {% for i in task_list %}
          <li>{{i}}</li>
          {%endfor%}
        </ul>
      </div>
    </div>
    </div>
{% endblock %}

